$roxo: #472865;
$roxo-claro: #8552B3;
$preto: #030104;
$branco: #fff;

$rosa-claro: #BE57E3;
$roxo-escuro: #2A0537;

$azul-claro: #4FD3F5;
$azul-escuro: #051D33;
$titulo-bg-azul: #0D2133;

$roxo-escuro: #2A0537;